
/* Header estilo y maquetado*/
header{
    display:grid;
    grid-template-columns: 5% 50% auto;
    grid-template-rows: 8em;
    background-color: rgb(87, 212, 205);
    height: 8em;
    width: 100%;
    position: sticky;
    top: 0;
  }
/*Tamaño y ubicación del logo en el header*/
  .logo-header {
    height: 80%;
    padding: .5em;
    margin-left: 1em;
    margin-right: 2em;
  }
  
  /*Animación en el logo del header cuando hacemos hover*/
  .logo-header:hover {
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
/* Separación del contenedor de la burger del contenedor central*/
  .burger {
    margin-top: 3em;
    margin-left: 1.5em;
  }
  /*Tamaño de la imágen del menú*/
  #menu-burger {
    height: 45%;
  }
 
  /*Estilo del contenedor del navegador y maquetado*/ 
  .menu, .menu1 {
    display: flex;
    justify-content: right;
    gap: 1em;
    padding: 1em;
    margin: 2em;
    margin-right: 1em;
    padding-right: 0.5em;
   
  }
  /* Estilo de links del menú*/
  .menu, .menu1 a {
    color: #0a0a0a;
    text-decoration: none;  /* Evita el subrayado */
    font-size: 1em;
    
      
  }
     
/*Transición cuando pasamos el mousse por los links del menú*/
  .menu a:hover {
    transition: .3s;
    background-color: #D9D9D9;
    font-size: 1.2em;
    text-decoration: underline;
    border-radius: 1em;
    width: 9em;
    text-align: center;
  }

  .menu1 a:hover {
    transition: .3s;
    background-color: #D9D9D9;
    font-size: 1.2em;
    text-decoration: underline;
    border-radius: 1em;
    width: 6.5em;
    text-align: center;
  }
  /* Footer estilo y maquetado*/

  footer {
    display:grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 8em;
    background-color: rgb(87, 212, 205);
    height: 8em;
    width: 100%;
    bottom: 0;
    
  }
  /*Logo footer ubicación del contenedor*/
  .contenedor-logo-footer{
    display: flex;
    justify-content: right;
  }
  /*Logo footer ubicación dentro del contenedor*/
  #logo-footer {
    height: 80%;
    padding: .5em;
    margin-left: 2em;
    margin-right: 2em;
    align-self: center;
  }
/*Logos redes sociales ubicación dentro del contenedor*/
  .logos-social-media {
    height: 40%;
    padding: 0.5em;
    align-self: center;
  }
 /*Logos redes sociales ubicación del contenedor*/
  .contenedor-logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20%;
  }
  /*Pie de página: letra, y ubicación  del contenedor*/
  #pie-de-pagina {
    
    display: flex;
    margin-top: 4em;
    padding-inline: 32%;
    
  }
   
  
  /* Alineacion para responsivness */
  
  @media all and (max-width: 600px){
    header{
      display:grid;
      grid-template-columns: 10% 25% auto;
      grid-template-rows: 6em;
      background-color: rgb(87, 212, 205);
      height: 6em;
      width: 100%;
      position: sticky;
      top: 0;

    }
    .logo-header{
    height: 65%;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    }
    .burger {
      margin-top: 3em;
      margin-left: 1em;
    }
    /*Tamaño de la imágen del menú*/
    #menu-burger {
      height: 40%;
    }
    .menu {
      display: flex;
      align-self: center;
      margin: .5em;
      padding-left: 0.5em;
      gap: 0.5em;
    }
    .menu a {
      display: flex;
      color: #0a0a0a;
      text-decoration: none;  /* Evita el subrayado */
      font-size: .8em;
    }
    .menu a:hover {
      transition: .3s;
      background-color: #D9D9D9;
      font-size: 1em;
      text-decoration: underline;
    }
    footer {
      display:grid;
      grid-template-columns: 20% auto 20%;
      grid-template-rows: 6em;
      background-color: rgb(87, 212, 205);
      height: 6em;
      width: 100%;
      bottom: 0;
      
    }
    
    #logo-footer {
      height: 65%;
      padding: 1em;
      padding-right: 0.5em;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
    .logos-social-media {
      height: 20%;
      align-self: center;
    }
    .contenedor-logos {
      display: flex;
      justify-content: space-between;
    
    }
    
    #pie-de-pagina {
    
      display: flex;
      justify-content: center;
      font-size: .8em;
      margin-top: 4em;
      padding-inline: 10%;
      
    }
  }
  @media all and (min-width: 600px) and (max-width: 800px){
    header{
      display:grid;
      grid-template-columns: 10% 30% auto;
      grid-template-rows: 7em;
      background-color: rgb(87, 212, 205);
      height: 7em;
      width: 100%;
      position: sticky;
      top: 0;

    }
    .logo-header{
    height: 80%;
    padding: 0.5em;
    margin-left: .5em;
    margin-right: 1em;
    
    }
    .burger {
      margin-top: 3em;
      margin-left: 1em;
    }
    /*Tamaño de la imágen del menú*/
    #menu-burger {
      height: 60%;
    }
    .menu {
      display: flex;
      align-self: center;
      margin: 1em;
      padding-right: 1em;
      margin-right: 2em;
      gap: 1em;
    }
    .menu a {
      display: flex;
      color: #0a0a0a;
      text-decoration: none;  /* Evita el subrayado */
      font-size: 1em;
    }
    .menu a:hover {
      transition: .3s;
      background-color: #D9D9D9;
      font-size: 1.2em;
      text-decoration: underline;
    }
    footer {
      display:grid;
      grid-template-columns: 20% auto 20%;
      grid-template-rows: 6em;
      background-color: rgb(87, 212, 205);
      height: 6em;
      width: 100%;
      bottom: 0;
      
    }
    
    #logo-footer {
      height: 80%;
      padding: 1em;
      padding-right: 0.5em;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
    .logos-social-media {
      height: 30%;
      align-self: center;
    }
    .contenedor-logos {
      display: flex;
      justify-content: space-between;
      
    }
    #pie-de-pagina {
    
      display: flex;
      justify-content: center;
      font-size: 1em;
      margin-top: 3em;
      padding-inline: 10%;
      
      
    }
  }
